


<div class="steppers-container row">
  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card>
      <nb-card-body>
        <nb-stepper #stepper>
          <nb-step label="Schritt 1">
            <form (ngSubmit)="onFirstSubmit()" class="step-container">
              <div class="row">
                <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards" (click)="addArticle()">
                  <ngx-status-card [title]="statusCard.title" [desc]="statusCard.desc" [type]="statusCard.type">
                    <i [ngClass]="statusCard.iconClass"></i>
                  </ngx-status-card>
                </div>
              </div>
              <!--
              <nb-alert status="success" closable>You have been successfully authenticated!</nb-alert>
              -->
              <!--
              <div class="input-group">
                <input type="text" placeholder="Enter your name" class="form-control" formControlName="firstCtrl"
                       [ngClass]="{'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)}">
              </div>
              -->
              <div class="d-flex justify-content-center">
                <button class="mt-4" nbButton outline status="primary" nbStepperNext>Weiter</button>
              </div>
            </form>
          </nb-step>
          <nb-step [stepControl]="secondForm" label="Schritt 2">
            <form [formGroup]="secondForm" (ngSubmit)="onSecondSubmit()" class="step-container">
              <p class="lorem">
                Gib bitte deine Tischnummer ein.
              </p>
              <div class="input-group">
                <input type="text" placeholder="123a" class="form-control" formControlName="secondCtrl"
                       [ngClass]="{'form-control-danger': secondForm.invalid && (secondForm.dirty || secondForm.touched)}">
              </div>
              <div class="d-flex justify-content-center">
                <button nbButton outline class="ml-4 mt-4" status="danger" nbStepperPrevious>Zurück</button>
                <button nbButton outline class="ml-4 mt-4" status="primary" nbStepperNext>Weiter</button>
              </div>
            </form>
          </nb-step>
          <nb-step label="Schritt 3">
            <form (ngSubmit)="onThirdSubmit()" class="step-container">
              <h3>Bestellübersicht</h3>
              <p class="lorem">
                Bitte überprüfe deine Bestellung.
              </p>
              <div class="input-group">
                <!--
                <input type="text" placeholder="Enter something" class="form-control" formControlName="thirdCtrl"
                       [ngClass]="{'form-control-danger': thirdForm.invalid && (thirdForm.dirty || thirdForm.touched)}">
                -->
              </div>
              <div class="d-flex justify-content-center">
                <button nbButton outline class="mt-4 ml-4" status="danger" nbStepperPrevious>Zurück</button>
                <button nbButton outline (click)="printSampleBestellung()" class="mt-4 ml-4" status="success" nbStepperNext>Weiter</button>
              </div>
            </form>
          </nb-step>
          <nb-step [stepControl]="thirdForm" [hidden]="true" label="Schritt 3">
            <div class="step-container">
              <h3>Deine Bestellung wurde abgesendet!</h3>
              <div class="d-flex justify-content-center">
                <button nbButton outline  class="mt-4 ml-4" status="primary" (click)="stepper.reset()">Nochmal bestellen</button>
              </div>
            </div>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </div>
