@import '../../@theme/styles/themes';

nb-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-items {
  color: nb-theme(text-hint-color);
  justify-content: center;
}

.amount {
  width: 20vw;
}

.control-status-example {
  padding: 0.25rem;
  margin: 0.25rem;
}
