@import '../../@theme/styles/themes';

nb-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-items {
  color: nb-theme(text-hint-color);
  justify-content: center;
}

.amount{
  text-align: center;
  width: 150px !important;
}


nb-icon{
  cursor: pointer;
}

.list{
  display: flex;
  justify-content: space-between;
}

.control-status-example {
  padding: 0.25rem;
  margin: 0.25rem;
}
